* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v886_2 {
  width: 100%;
  height: 4106px;
  background: rgba(255,255,255,1);
  padding: 96px 96px;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v886_3 {
  width: 100%;
  height: 872px;
  background: url("../images/v886_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 46px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 96px;
  overflow: hidden;
}
.v886_4 {
  width: 100%;
  height: 548px;
  background: url("../images/v886_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v886_5 {
  width: 100%;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 594px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 128px;
  opacity: 1;
  text-align: left;
}
.v886_6 {
  width: 100%;
  height: 308px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 1091px;
  left: 0px;
  overflow: hidden;
}
.v886_7 {
  width: 100%;
  height: 1447px;
  background: url("../images/v886_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 0px;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 1032px;
  left: 96px;
  overflow: hidden;
}
.v886_8 {
  width: 594px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v886_9 {
  width: 100%;
  height: 1203px;
  background: url("../images/v886_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 138px;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 0px;
  overflow: hidden;
}
.v886_10 {
  width: 445px;
  height: 1155px;
  background: url("../images/v886_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v886_11 {
  width: 243px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_12 {
  width: 445px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 0px;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_13 {
  width: 417px;
  height: 1203px;
  background: url("../images/v886_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 583px;
  overflow: hidden;
}
.v886_14 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_15 {
  width: 417px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_16 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 789px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_17 {
  width: 417px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 852px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_21 {
  width: 100%;
  height: 1268px;
  background: url("../images/v886_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 2543px;
  left: 96px;
  overflow: hidden;
}
.v886_22 {
  width: 304px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v886_23 {
  width: 990px;
  height: 340px;
  background: url("../images/v886_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 138px;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.v886_24 {
  width: 448px;
  height: 340px;
  background: url("../images/v886_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v886_25 {
  width: 309px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v886_26 {
  width: 448px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 82px;
  left: 0px;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_27 {
  width: 404px;
  height: 297px;
  background: url("../images/v886_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 586px;
  overflow: hidden;
}
.v886_28 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v886_29 {
  width: 404px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 82px;
  left: 0px;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_33 {
  width: 100%;
  height: 684px;
  background: url("../images/v886_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 138px;
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 0px;
  overflow: hidden;
}
.v886_34 {
  width: 448px;
  height: 555px;
  background: url("../images/v886_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v886_35 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v886_36 {
  width: 448px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 82px;
  left: 0px;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_37 {
  width: 404px;
  height: 684px;
  background: url("../images/v886_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 586px;
  overflow: hidden;
}
.v886_38 {
  width: 314px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v886_39 {
  width: 404px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 82px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v886_40 {
  width: 412px;
  height: 555px;
  background: url("../images/v886_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1128px;
  overflow: hidden;
}
